{>"navbar"/}

<div id="wrapper">

    {?template.options.sidebar.enabled}
    <div id="sidebar-wrapper">
        {>"sidebar"/}
    </div>
    {/template.options.sidebar.enabled}

    <div id="page-content-wrapper">

        <div class="container">
            <br />
            {#documentation}
                {>"symbol" symbol=. template=template/}
            {/documentation}
            <br />
            <span class="docma-info">Documentation built with <b><a target="_blank" rel="noopener noreferrer" href="https://onury.io/docma">Docma</a></b>.</span>
        </div>
    </div>

</div>
