{?template.options.navbar.enabled}
    <nav class="navbar">
        <div class="navbar-inner {?boxed}container container-boxed{/boxed}">
            <div class="navbar-brand">
                {?template.options.logo.dark}
                    <img src="{template.options.logo.dark}" alt="logo" class="navbar-logo" />
                {/template.options.logo.dark}
                <span class="navbar-title">{template.options.title|s}</span>
            </div>

            {@gt key=template.options.navbar.menuItems.length value=0}
                <div class="navbar-menu-btn" tabindex="0">
                    <i class="fas fa-lg fa-bars trans-all-ease"></i>
                    <i class="fas fa-md fa-times trans-all-ease"></i>
                </div>
                <div class="navbar-menu">
                    <ul class="navbar-list">
                    {#template.options.navbar.menuItems}
                        {?items}
                            <li class="dropdown">
                                <a href="{?href}{href}{:else}#{/href}" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="{iconClass}" aria-hidden="true"></i>&nbsp;&nbsp;{label}&nbsp;&nbsp;<i class="fas fa-sm fa-angle-down"></i>
                                </a>
                                <ul>
                                {#items} {>"navitem":./} {/items}
                                </ul>
                            </li>
                        {:else}
                            {>"navitem":./}
                        {/items}
                    {/template.options.navbar.menuItems}
                    </ul>
                </div>
            {/gt}
        </div>
    </nav>
    <div class="nav-overlay"></div>
{/template.options.navbar.enabled}
