<div id="{symbol|$id}" class="symbol-container">

    <div class="symbol-heading">
        <div class="symbol">
            <a href="#{symbol|$id}">
                <i class="fas fa-link color-gray-light" aria-hidden="true"></i>
            </a>
            <code class="symbol-name">{symbol|s|$longname_params}</code>
            <span class="symbol-sep">{symbol|$type_sep}</span>
            <code class="symbol-type">{symbol|s|$type}</code>

            {symbol|s|$tags}
        </div>

        {?symbol.augments}
            <p class="space-right-sm">
                <b>Extends:</b> {symbol|s|$extends}
            </p>
        {/symbol.augments}

        {?symbol.alias}
            <!-- JSDoc bug: sometimes constructor is marked as alias of class. -->
            <!-- So if this is not the "$constructor" element, display alias. -->
            {^$constructor}
                <p class="space-right-sm">
                    <b>Alias:</b> <code>{symbol.alias|s|$dot_prop}</code>
                </p>
            {/$constructor}
        {/symbol.alias}

    </div>

    <div class="symbol-definition">
        {?symbol.classdesc}
            <table class="pad-bottom-sm">
                {?symbol.version}
                <tr>
                    <td><b>Version:</b>&nbsp;&nbsp;&nbsp;</td><td>{symbol.version|s}</td>
                </tr>
                {/symbol.version}

                {?symbol.copyright}
                <tr>
                    <td><b>Copyright:</b>&nbsp;&nbsp;&nbsp;</td><td>{symbol.copyright|s}</td>
                </tr>
                {/symbol.copyright}

                {?symbol.author}
                <tr>
                    <td><b>Author:</b>&nbsp;&nbsp;&nbsp;</td><td>{symbol.author|s|$author}</td>
                </tr>
                {/symbol.author}

                {?symbol.license}
                <tr>
                    <td><b>License:</b>&nbsp;&nbsp;&nbsp;</td><td>{symbol.license|s}</td>
                </tr>
                {/symbol.license}
            </table>
        {/symbol.classdesc}

        {symbol|s|$desc}

        {?symbol.see}
        <p class="no-margin">
            <b>See</b>
            {@gt key=symbol.see.length value=1}
                <ul class="pad-bottom-sm">
                {#symbol.see}<li>{.|s|$pl}</li>{/symbol.see}
                </ul>
            {:else}
                {#symbol.see}&nbsp;{.|s|$pl}{/symbol.see}
            {/gt}
        </p>
        {/symbol.see}

        <!--  don't list params for class declarations since we already list
        constructor and its params separately, if this is a class declaration.  -->
        {@eq key=symbol.meta.code.type value="ClassDeclaration"}
        {:else}
            {>"params":symbol/}
            {?symbol.isEnum}{:else}
                {>"properties":symbol/}
            {/symbol.isEnum}
        {/eq}

        {?symbol.fires}
            {@gt key=symbol.fires.length value="0" type="number"}
                <b>Emits:</b>&nbsp;&nbsp;{symbol|s|$emits}
            {/gt}
        {/symbol.fires}

        {?symbol.returns}
            {@gt key=symbol.returns.length value="1" type="number"}
                <b>Returns:</b>
                <p class="pad-left">
                    {symbol|s|$returns}
                </p>
            {:else}
                <p>
                    <b>Returns:</b>&nbsp;&nbsp;{symbol|s|$returns}
                </p>
            {/gt}
        {/symbol.returns}

        {?symbol.generator}
            {?symbol.yields}
                 {@gt key=symbol.yields.length value="1" type="number"}
                    <b>Yields:</b>
                    <p class="pad-left">
                        {symbol|s|$yields}
                    </p>
                    {:else}
                    <p>
                        <b>Yields:</b>&nbsp;&nbsp;{symbol|s|$yields}
                    </p>
                {/gt}
            {/symbol.yields}
        {/symbol.generator}

        {?symbol.exceptions}
            {@gt key=symbol.exceptions.length value="1" type="number"}
                <b>Throws:</b>
                <p class="pad-left">
                    {symbol|s|$exceptions}
                </p>
            {:else}
                <p>
                    <b>Throws:</b>&nbsp;&nbsp;{symbol|s|$exceptions}
                </p>
            {/gt}
        {/symbol.exceptions}

        <!-- if this is an enumeration symbol, list the members in a table -->
        {?symbol.isEnum}
            {>"enums":symbol/}
        {/symbol.isEnum}

        {?symbol.examples}
            {#symbol.examples}
                <p><b>Example
                {@gt key=symbol.examples.length value=1}
                    &nbsp;#{@math key=$idx method="add" operand="1"/}
                {/gt}
                </b>{.|$get_caption|s}</p>
                <pre><code>{.|$nt|$tnl|$remove_caption}</code></pre>
            {/symbol.examples}
        {/symbol.examples}

        {?template.options.symbolMeta}
        {?symbol.meta.lineno}
        <p class="symbol-meta">
            {?symbol.meta.filename}<b>File:</b> {symbol.meta.filename}&nbsp;&nbsp;{/symbol.meta.filename}
            {?symbol.meta.lineno}<b>Line:</b> {symbol.meta.lineno}&nbsp;&nbsp;{/symbol.meta.lineno}
        </p>
        {/symbol.meta.lineno}
        {/template.options.symbolMeta}

    </div>

</div>
<hr />

<!--  don't list params for class declarations since we already list
constructor and its params separately, if this is a class declaration.  -->
{@eq key=symbol.meta.code.type value="ClassDeclaration"}
    {?symbol.$constructor}
        {@eq key=symbol.hideconstructor type="boolean" value="true"}
        {:else}
            {>"symbol" symbol=symbol.$constructor template=template/}
        {/eq}
    {/symbol.$constructor}
{/eq}

<!-- if not an enumeration symbol -->
{?symbol.isEnum}
{:else}
    <!-- recurse as symbol section -->
    {#symbol.$members}
        {>"symbol" symbol=. template=template/}
    {/symbol.$members}
{/symbol.isEnum}
